/* Grundlegende Stile für die Rezepte */
.recipe {
    margin-bottom: 40px;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe h3,
.recipe h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

.recipe p {
    margin-bottom: 20px;
}

/* Stil für die Bilder in den Rezepten */
.recipe img {
    width: 100%;
    height: 300px;
    /* Einheitliche Höhe für alle Bilder */
    object-fit: cover;
    /* Bild wird entsprechend der Höhe beschnitten */
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Container für Rezepte */
.recipe-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    position: relative;
    /* Wichtiger Schritt, damit der absolut positionierte Button innerhalb des Containers bleibt */
    padding-bottom: 50px;
}

/* Einzelne Rezepte */
.recipe {
    flex: 1 0 30%;
    /* Breite der Rezepte in der Reihe */
    box-sizing: border-box;
}

/* Container für den Button */
.show-more-container {
    position: relative;
    text-align: right;
    /* Rechtsbündig innerhalb des Containers */
    padding-right: 20px;
    /* Platz nach rechts */
}

/* Button "Mehr anzeigen" */
.show-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: blue;
    position: absolute;
    bottom: 350px;
    /* Position nach oben verschoben */
    right: -200px;
    /* Position weiter nach rechts verschoben */
    text-align: center;
}

.show-more-button::before {
    content: '→';
    font-size: 20px;
    margin-right: 8px;
}

.show-more-button span {
    font-size: 16px;
}

/* Stile für das Einklappen der Rezepte */
.recipe-text-container {
    position: relative;
    max-height: 80px;
    /* Höhe des sichtbaren Textbereichs */
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* Sanfter Übergang für das Erweitern */
    margin-bottom: 10px;
}

.recipe-text-container.expanded {
    max-height: none;
    /* Entfernen der Begrenzung für den erweiterten Text */
}

.read-more {
    color: blue;
    cursor: pointer;
}

/* Grundlegende Stile für die Karten */
.card {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
}

.card-header {
    background: #fff;
    border-bottom: 1px solid #e9ecef;
    border-radius: 8px 8px 0 0;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    padding: 15px;
}

/* Stil für die Bilder in den Rezepten */
.card-img-top {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

/* Stile für die Buttons */
.button {
    margin-top: 15px;
}

/* Stile für die Modale */
.modal-content {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    /* Maximale Höhe des Modals */
    overflow: hidden;
    /* Verhindert, dass der Inhalt über das Modal hinausgeht */
}

.modal-body {
    flex: 1;
    /* Lässt den Body den verbleibenden Platz im Modal ausfüllen */
    overflow-y: auto;
    /* Ermöglicht vertikales Scrollen */
    padding: 15px;
}

.modal-header {
    background: #f9f9f9;
    border-bottom: 1px solid #eaeaea;
    padding: 15px;
}

.modal-footer {
    background: #f9f9f9;
    border-top: 1px solid #eaeaea;
    padding: 15px;
}

.d-flex {
    display: flex;
    justify-content: center; /* Zentriert die Buttons */
    gap: 20px; /* Abstand zwischen den Buttons (du kannst den Wert anpassen) */
}

/* Anpassung der Buttons in den Modalen */
.btn-primary.button,
.btn-secondary.button {
    margin-top: 10px;
    display: block;
    width: 100%;
}
.modal {
    z-index: 1050; /* Basis-Z-Index für alle Modals */
}

/* Spezifische Z-Index-Werte für deine Modals */

#alertModal {
    z-index: 3060; /* Höherer Z-Index für das Alert-Modal */
}

#autoAdModal1 {
    z-index: 1050; /* Niedrigerer Z-Index für das Ad-Modal */
}
/* Stile für das Warnmodal */
#alertModal .modal-content {
    border: 2px solid red; /* Roter Rand für zusätzliche Hervorhebung */
    background-color: #f8d7da; /* Hintergrundfarbe für Warnungen */
    color: #721c24; /* Textfarbe für Warnungen */
}

/* Dialog-Stil für die Größe des Modals */
#alertModal .modal-dialog {
    max-width: 80%; /* Setzt die maximale Breite auf 80% des Viewports */
    width: 80%; /* Setzt die Breite auf 80% */
}

/* Header-Stil für das Warnmodal */
#alertModal .modal-header {
    background-color: #f5c6cb; /* Hintergrundfarbe des Headers */
    color: #721c24; /* Textfarbe des Headers */
    border-bottom: 1px solid #f5c6cb; /* Abgrenzung unten */
}

/* Body-Stil für das Warnmodal */
#alertModal .modal-body {
    color: #721c24; /* Textfarbe im Body */
}

/* Footer-Stil für das Warnmodal */
#alertModal .modal-footer {
    background-color: #f5c6cb; /* Hintergrundfarbe des Footers */
    border-top: 2px solid #f5c6cb; /* Abgrenzung oben */
}

/* Buttons im Warnmodal */
#alertModal .btn-primary {
    background-color: #721c24; /* Hintergrundfarbe der Buttons */
    border-color: #721c24; /* Randfarbe der Buttons */
}

#alertModal .btn-primary:hover {
    background-color: #a71d2a; /* Dunklerer Rotton beim Hover-Effekt */
    border-color: #a71d2a; /* Dunklerer Rand beim Hover-Effekt */
}

#alertModal .btn-secondary {
    background-color: #f5c6cb; /* Hintergrundfarbe der sekundären Buttons */
    border-color: #f5c6cb; /* Randfarbe der sekundären Buttons */
}

#alertModal .btn-secondary:hover {
    background-color: #e2a3a7; /* Dunklerer Rotton beim Hover-Effekt */
    border-color: #e2a3a7; /* Dunklerer Rand beim Hover-Effekt */
}

#newAlertModal{
    z-index: 3060; /* Höherer Z-Index für das Alert-Modal */
}
#newAlertModal .modal-content {
    border: 2px solid red; /* Roter Rand für zusätzliche Hervorhebung */
    background-color: #f8d7da; /* Hintergrundfarbe für Warnungen */
    color: #721c24; /* Textfarbe für Warnungen */
}

/* Dialog-Stil für die Größe des Modals */
#newAlertModal .modal-dialog {
    max-width: 80%; /* Setzt die maximale Breite auf 80% des Viewports */
    width: 80%; /* Setzt die Breite auf 80% */
}

/* Header-Stil für das Warnmodal */
#newAlertModal .modal-header {
    background-color: #f5c6cb; /* Hintergrundfarbe des Headers */
    color: #721c24; /* Textfarbe des Headers */
    border-bottom: 1px solid #f5c6cb; /* Abgrenzung unten */
}

/* Body-Stil für das Warnmodal */
#newAlertModal .modal-body {
    color: #721c24; /* Textfarbe im Body */
}

/* Footer-Stil für das Warnmodal */
#newAlertModal .modal-footer {
    background-color: #f5c6cb; /* Hintergrundfarbe des Footers */
    border-top: 2px solid #f5c6cb; /* Abgrenzung oben */
}

/* Buttons im Warnmodal */
#newAlertModal2 .btn-primary {
    background-color: #721c24; /* Hintergrundfarbe der Buttons */
    border-color: #721c24; /* Randfarbe der Buttons */
}

#newAlertModal2 .btn-primary:hover {
    background-color: #a71d2a; /* Dunklerer Rotton beim Hover-Effekt */
    border-color: #a71d2a; /* Dunklerer Rand beim Hover-Effekt */
}

#newAlertModal2 .btn-secondary {
    background-color: #f5c6cb; /* Hintergrundfarbe der sekundären Buttons */
    border-color: #f5c6cb; /* Randfarbe der sekundären Buttons */
}

#newAlertModal2 .btn-secondary:hover {
    background-color: #e2a3a7; /* Dunklerer Rotton beim Hover-Effekt */
    border-color: #e2a3a7; /* Dunklerer Rand beim Hover-Effekt */
}
#newAlertModal2{
    z-index: 3060; /* Höherer Z-Index für das Alert-Modal */
}
#newAlertModal2 .modal-content {
    border: 2px solid red; /* Roter Rand für zusätzliche Hervorhebung */
    background-color: #f8d7da; /* Hintergrundfarbe für Warnungen */
    color: #721c24; /* Textfarbe für Warnungen */
}

/* Dialog-Stil für die Größe des Modals */
#newAlertModal2 .modal-dialog {
    max-width: 80%; /* Setzt die maximale Breite auf 80% des Viewports */
    width: 80%; /* Setzt die Breite auf 80% */
}

/* Header-Stil für das Warnmodal */
#newAlertModal2 .modal-header {
    background-color: #f5c6cb; /* Hintergrundfarbe des Headers */
    color: #721c24; /* Textfarbe des Headers */
    border-bottom: 1px solid #f5c6cb; /* Abgrenzung unten */
}

/* Body-Stil für das Warnmodal */
#newAlertModal2 .modal-body {
    color: #721c24; /* Textfarbe im Body */
}

/* Footer-Stil für das Warnmodal */
#newAlertModal2 .modal-footer {
    background-color: #f5c6cb; /* Hintergrundfarbe des Footers */
    border-top: 2px solid #f5c6cb; /* Abgrenzung oben */
}

/* Buttons im Warnmodal */
#newAlertModal2 .btn-primary {
    background-color: #721c24; /* Hintergrundfarbe der Buttons */
    border-color: #721c24; /* Randfarbe der Buttons */
}

#newAlertModal2 .btn-primary:hover {
    background-color: #a71d2a; /* Dunklerer Rotton beim Hover-Effekt */
    border-color: #a71d2a; /* Dunklerer Rand beim Hover-Effekt */
}

#newAlertModal2 .btn-secondary {
    background-color: #f5c6cb; /* Hintergrundfarbe der sekundären Buttons */
    border-color: #f5c6cb; /* Randfarbe der sekundären Buttons */
}

#newAlertModal2 .btn-secondary:hover {
    background-color: #e2a3a7; /* Dunklerer Rotton beim Hover-Effekt */
    border-color: #e2a3a7; /* Dunklerer Rand beim Hover-Effekt */
}
